{% extends "template.html" %}

{% block content %}



<!--<div class="pos-f-t">-->
    <!--<div class="collapse" id="navbarToggleExternalContent">-->
        <!--<div class="bg-dark p-4">-->
            <!--<h4 class="text-white">Collapsed content</h4>-->
            <!--<span class="text-muted">Toggleable via the navbar brand.</span>-->
        <!--</div>-->
    <!--</div>-->
    <!--<nav class="navbar navbar-dark bg-dark">-->
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--<span class="navbar-toggler-icon"></span>-->
        <!--</button>-->
    <!--</nav>-->
<!--</div>-->
<h2>
    Weekly Schedule
    <br>
</h2>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                Week Feb 18th - Feb 24th
            </th>
            <th scope="col">
                Start
            </th>
            <th scope="col">
                End
            </th>
            <th scope="col">
                Notes
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">
                Tuesday
            </th>
            <td>
                10:00 am
            </td>
            <td>
                1:00 pm
            </td>
            <td>
                Work in LC
            </td>
        </tr>
        <tr>
            <th scope="row">
                Wednesday
            </th>
            <td>
                10:00 am
            </td>
            <td>
                1:00 pm
            </td>
            <td>
                Work in HC
            </td>
        </tr>
        <tr>
            <th scope="row">
                Thursday
            </th>
            <td>
                10:00 am
            </td>
            <td>
                1:00 pm
            </td>
            <td>
                Work in HC
            </td>
        </tr>
        <tr>
            <th scope="row">
                Friday
            </th>
            <td>
                10:00 am
            </td>
            <td>
                1:00 pm
            </td>
            <td>
                Work in HC
            </td>
        </tr>
        <tr>
            <th scope="row">
                Saturday
            </th>
            <td>
                10:00 am
            </td>
            <td>
                1:00 pm
            </td>
            <td>
                Work in RC
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
            <th>
                <nav aria-label="Week navigation">
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </th>
        </tr>
    </tfoot>
</table>


{% endblock %}