{% extends "template.html" %}

{% block content %}

<script>
document.getElementById("schedule").className += " active";
</script>

<!--<div class="pos-f-t">-->
    <!--<div class="collapse" id="navbarToggleExternalContent">-->
        <!--<div class="bg-dark p-4">-->
            <!--<h4 class="text-white">Collapsed content</h4>-->
            <!--<span class="text-muted">Toggleable via the navbar brand.</span>-->
        <!--</div>-->
    <!--</div>-->
    <!--<nav class="navbar navbar-dark bg-dark">-->
        <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">-->
            <!--<span class="navbar-toggler-icon"></span>-->
        <!--</button>-->
    <!--</nav>-->
<!--</div>-->
    <table>
        <td style="width:10%">
            <button type="button" class="btn btn-outline-primary" onclick="toAvailiability()">Change Availability</button>
        </td>
        <td style="width:80%">
            <nav aria-label="Scheduler">
                <ul class="pagination justify-content-center pagination-lg">
                    <li class="page-item">
                        <a class="page-link" href="{% url 'schedule' previous_week.year previous_week.month previous_week.day %}">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#">Week of {{ week_start_day }}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="{% url 'schedule' week_end_day.year week_end_day.month week_end_day.day %}">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </td>
        <td style="width:10%">
        </td>
    </table>
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">
                Week of {{ week_start_day }}
            </th>

            <th scope="col">
                Start
            </th>
            <th scope="col">
                End
            </th>
            <th scope="col">
                Notes
            </th>
        </tr>
    </thead>
    <tbody>
        {% for start_time, end_time, start_day, end_day in week_sched %}
        <tr>
                <th>
                    {{ start_day }}
                </th>
                <td>
                    {{ start_time.time }}
                </td>
                <td>
                    {{ end_time.time }}
                </td>
                <td>
                    {% if start_time.day != end_time.day %}NOTE: The shift ends on {{end_time.day}} {% endif %}
                </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

    <script>
    function toAvailiability() {
        window.location = "{% url 'availability' %}";
    }
    </script>

{% endblock %}
