{% extends "template.html" %}

{% block content %}

<h2>Hi {{ current_user.firstname }}, you are currently clocked out.</h2>
    <div class="container-fluid">
        <br>
        <button type="button" class="btn btn-success">Clock In</button>
        <button type="button" class="btn btn-danger">Clock Out</button>
    </div>
    <br>
    <br>

  <h2>Announcements</h2>

  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Date</th>
          <th>Notes</th>
        </tr>
      </thead>
      <tbody>
        {% for announce in annoucements %}
        <tr>
          <td>{{ announce.time }}</td>
          <td><a href="">{{ announce.title }}</a></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>

  <h2>Today's Schedule</h2>
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th>Location</th>
          <th>Name</th>
          <th>Start</th>
          <th>End</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Hamp (DC)</td>
          <td>Mikaela Ortstein</td>
          <td>9:00am</td>
          <td>1:00pm</td>
        </tr>
        <tr>
          <td>Berk (DC)</td>
          <td>Mario Urena</td>
          <td>2:00pm</td>
          <td>10:00pm</td>
        </tr>
        <tr>
          <td>Hamp (DC)</td>
          <td>Tyler Hawley</td>
          <td>6:00am</td>
          <td>12:00pm</td>
        </tr>
        <tr>
          <td>Worc (DC)</td>
          <td>Matt Farrell</td>
          <td>12:00pm</td>
          <td>5:00pm</td>
        </tr>
        <tr>
          <td>Blue Wall</td>
          <td>Amy Faut</td>
          <td>1:00pm</td>
          <td>3:00pm</td>
        </tr>
        <tr>
          <td>Blue Wall</td>
          <td>Hector Crespo</td>
          <td>8:00am</td>
          <td>10:00am</td>
        </tr>
        <tr>
          <td>Whitmore Cafe</td>
          <td>John Borishevsky</td>
          <td>9:00am</td>
          <td>9:00pm</td>
        </tr>
      </tbody>
    </table>
  </div>

  {% endblock %}