<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta http-equiv="refresh" content="3;URL='login.html'" />
    <link rel="icon" href="img/favicon.ico">

    <title>Cloq - Logout</title>

    <!-- Bootstrap core CSS -->
    {% load static %}
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    {% load static %}
    <link href="css/signin.css" rel="stylesheet">
  </head>

  <body class="text-center">
    <form class="form-signin">
      <img class="mb-4" src="img/logo.png" alt="">
      <h1 class="h3 mb-3 font-weight-normal">You've been logged out.</h1>
      <h5>Redirecting you to login...</h5>
      <p class="mt-5 mb-3 text-muted">&copy; 2018 | Cloq by Team Q</p>
    </form>
  </body>
</html>
